* {
    color: black;
    font-family: 'montserrat';
    font-size: 16px;
}
.header{
    display: flex;
    height: 76px;    
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 1px 0px rgba(17, 17, 17, .1) ;
}

.header-logo{    
    margin-left: 5%;
}

.header-menu{
  margin-right: 45%;
}

.header-menu span + span{
    margin-left: 50%;        
}